@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
  background-color:;
}

@media (max-width: 576px) {
    body .jumbotron h1 {
      font-size: 8vh;
    }
}

@media (max-width: 576px) {
    #samples h1 {
      font-size: 6vh;
    }
}

@media (max-width: 576px) {
    figure {
      font-size: 1.7vh;
    }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 100%;
   max-width:1400px;
  }
}

@media (max-width: 576px) {
    body #h1_info {
      font-size: 7vh;
    }
}


h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.8em;
}

#h1_info {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4.5em;
  padding-bottom: 30px;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 2.8em;
}

#h2_obj {
  padding: 0px 30px 30px 30px;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
}

#h2_aud {
  padding: 30px;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
}

#h2_soft {
  padding: 30px;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
}

#h2_tech {
  padding: 30px;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
}

#h2_website {
  padding: 30px;
  font-family: 'Francois One', sans-serif;
  font-size: 2.2em;
}

p {
  font-family: 'Amiri', serif;
  font-size: 1.1em;
}

#objective {
  font-size: 1.3em;
}

#audience {
  font-size: 1.3em;
}

#software_used {
  font-size: 1.3em;
}

#techniques_used {
  font-size: 1.3em;
}

#website {
  font-size: 1.3em;
}

ul {
  font-family: 'Amiri', serif;
  font-size: 1.1em;
}

.navbar {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar ul {
  font-family: 'Nunito Sans', sans-serif;
}

.bg-color {
  background-color: #2C3E50;
}

.navbar-brand {
  padding-left: 2%;
}

a:link {
  color: rgba(255,255,255,.8);
}

a:visited {
  color: rgba(255,255,255,.8);
}

#social {
  background-color: #23A5D4;
}

.jumbotron {
  background-image: url("images/main2.jpg");
  background-size: cover;
  display:flex;
  align-items: center;
  color: white;
}

.jumbotron h1 {
  font-size: 9vh;
  font-style: bold;
}

.btn-primary {
    color: #2980B9;
    background-color: #2980B9;
    border-color: #2980B9;
}

.header {
  margin-top: -15px;
  padding-bottom: 10px;
  font-size: 1.5em;
}

.fig {
  padding-left: 10%;
  padding-bottom: 1%;
  font-size: 1em;
  text-align: left;
}

figure {
  padding-bottom: 5%;
}

.graphic_text {
  padding-top: 40px;
}


.jumbotron p {
  font-size: 3vh;
  font-style: bold;
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.jumbotron.vertical-center {
  margin-bottom: 0;
}


.vertical-center {
  display:flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}

.btnDiv {
  width: 100%;
  left: 0;
  bottom: 20px;
  position: absolute;
}

.social i {
  padding: 20px 10px 20px 10px;
}

.social i:hover {
  color: #2C3E50;
}

#samples img {
  padding: 15px;
  border-radius: 15px;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
}

.carousel-caption p {
    font-size: 1.2em;
}

#about {
  padding: 75px;
  background-color: #2980B9;
}

.center-block {
    margin: auto;
    display: block;
    padding-bottom: 50px;
}


.software_icons {
  padding-bottom: 70px;
}

.software_icons i {
  padding: 50px;
  padding-bottom: 25px;
}

#skills h1 {
 text-align: center;
 padding-bottom: 20px;
}

#skills li {
  font-family: 'Tinos', serif;
}

#skills .row {
 text-align: center;
 padding-bottom: 20px;
}

#skills ul {
  line-height: 40px;
}

#skills {
  padding-top: 70px;
  background-color: #2C3E50;
}

#software {
  padding-top: 60px;
  background-color: #E76659;
}

#software h1 {
 text-align: center;
 padding-bottom: 20px;
}

#software .row {
 text-align: center;
 padding-bottom: 20px;
}

#software ul {
  line-height: 30px;
}

#samples {
  font-size: 1.2em;
  text-align:center;
  padding: 70px;
  margin:auto;
  background-color: #2980B9;
}

#samples h1 {
  padding-bottom: 5%;
}

#samples_info {
  font-size: 1.2em;
  text-align:center;
  padding: 50px;
  margin:auto;
  background-color: #E76659;
}

#samples_info img {
  padding: 15px;
  border-radius: 15px;
}

#footer {
  background-color: #23A5D4;
  padding-top: 5%;
}

#contact-form {
  margin-bottom: 5%;
  background color: red;
}

#contact-header {
  margin-top: 3%;
  padding-bottom: 5%;
  background color: red;
}

#street {
  width:100%;
    height: 100%;
}
