@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900');
@import url('https://fonts.googleapis.com/css?family=Amiri');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');


body {
  background-color: #23A5D4;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3.8em;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3em;
}

p {
  font-family: 'Amiri', serif;
  font-size: 1.1em;
}

ul {
  font-family: 'Amiri', serif;
  font-size: 1.1em;
}

.navbar {
  font-family: 'Nunito Sans', sans-serif;
}

.navbar ul {
  font-family: 'Nunito Sans', sans-serif;
}

.bg-color {
  background-color: #2C3E50;
}

.navbar-brand {
  padding-left: 2%;
}

a:link {
  color: rgba(255,255,255,.8);
}

a:visited {
  color: rgba(255,255,255,.8);
}

#social {
  background-color: #2980B9;
}

.jumbotron {
  background-color: #2980B9;
  background-image: url("images/main.jpg");
  background-size: cover;
  display:flex;
  align-items: center;
  color: white;
}

.jumbotron h1 {
  font-size: 9vh;
  font-style: bold;
}

@media (max-width: @screen-sm) {
    .jumbotron h1 {
      font-size: 4em;
    }
}

.jumbotron p {
  font-size: 3vh;
  font-style: bold;
}

.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.jumbotron.vertical-center {
  margin-bottom: 0;
}


.vertical-center {
  display:flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}

.btnDiv {
  width: 100%;
  left: 0;
  bottom: 20px;
  position: absolute;
}

.social i {
  padding: 20px 10px 20px 10px;
}

.social i:hover {
  color: #2C3E50;
}

#samples img {
  padding: 15px;
  border-radius: 15px;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
}

.carousel-caption {
    background: rgba(0,0,0,0.5);
}

.carousel-caption p {
    font-size: 1.2em;
}

#about {
  padding: 75px;
  background-color: #23A5D4;
}

.center-block {
    margin: auto;
    display: block;
    padding-bottom: 50px;
}

#software {
  padding-top: 60px;
  background-color: #E76659;
}

.software_icons {
  padding-bottom: 70px;
}

.software_icons i {
  padding: 50px;
  padding-bottom: 25px;
}

#skills h1 {
 text-align: center;
 padding-bottom: 20px;
}

#skills li {
  font-family: 'Tinos', serif;
}

#skills .row {
 text-align: center;
 padding-bottom: 20px;
}

#skills ul {
  line-height: 40px;
}

#skills {
  padding-top: 70px;
  background-color: #2C3E50;
}

#software h1 {
 text-align: center;
 padding-bottom: 20px;
}

#software .row {
 text-align: center;
 padding-bottom: 20px;
}

#software ul {
  line-height: 30px;
}

#samples {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-around;;
  padding: 75px;
  margin:auto;
  background-color: #E76659;
}

#samples h1 {
  padding-bottom: 20px;
}

#footer {
  background-color: #2980B9;
  padding-top: 5%;
}

#contact-form {
  margin-bottom: 5%;
  background color: red;
}

#contact-header {
  margin-top: 3%;
  padding-bottom: 5%;
  background color: red;
}
